@import "../../data/colors";

.Header {
  background: $colorLightGrey;

  @media print {
    display: none;
  }
}

.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 0;
}

.loginButton {
  margin-left: auto;
}
